
<h1>商品一覧</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">商品ID</th>
      <th scope="col">商品名</th>
      <th scope="col">税抜価格</th>
      <th scope="col">ジャンル</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>洋梨のチーズタルト</td>
      <td>1,200</td>
      <td>ケーキ</td>
      <td>販売中</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>ザッハトルテ</td>
      <td>2,900</td>
      <td>ケーキ</td>
      <td>販売中</td>
    </tr>
  </tbody>
</table>
