<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'genres' %>
    </div>
    <div class="col-10">
      <%= image_tag('top.png', size: "700x500") %>
    </div>
  </div>
</div>
<%= link_to "すべての商品を見る", items_path %>
