<div class="container d-flex justify-content-center align-items-center" style="height: 40vh;">
  <div class="text-center">
    <h2><strong>ご注文ありがとうございました！</strong></h2>
  </div>
</div>

<script>
  setTimeout(function() {
    window.location.href = "/";
  }, 1000);
</script>